:root.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --title-text-color: #353430;
  --header-decoration: #353430;
  --section-heading: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.40);
}

.page.theme_light {
  
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(/images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --main-text-color: #353430;
    --title-color: #FFC2E6;
    --title-text-color: #353430;
    --header-decoration: #353430;
    --section-heading: #353430;
    --border-color-hover: rgba(50, 49, 45, 0.40);
  }
  .header__rec {
    display: none;
  }
}
